langchain
langchain-community
langchain-core==0.1.17
torch
torchvision==0.16.2+cu121
accelerate==0.25.0
sentence-transformers
sentencepiece==0.1.99
streamlit
streamlit-authenticator==0.3.1
streamlit-chat
faiss-cpu
tiktoken==0.5.2
huggingface-hub==0.19.4
pypdf
PyPDF2==3.0.1
llama_cpp_python
llama_cpp_python_cuda
credentials==1.1
ctransformers
click==8.1.7
pikepdf
unstructured_inference
unstructured
